<!--
  Generated template for the TabHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Main</ion-title>
<ion-buttons right  *ngIf="loginStatus==false">
<button ion-button icon-start (click)="showLogin()">
<ion-icon name="lock"></ion-icon>
  Login
</button>
<button ion-button icon-start (click)="showRegister()">
    <ion-icon name="person-add"></ion-icon>
      Register
    </button>
</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="row b_top">
        <div class="b_top_content">
          <img src="assets/imgs/profile.jpg" alt="">
          <div class="box-c-right" style="color:#fff">
            <h1>{{userDetail}}</h1>
            <button ion-button color="primary" round outline (click)="logout()" *ngIf="loginStatus==true">Logout</button>
          </div>
        </div>
      </div>
      <ion-slides pager autoplay=3000 loop>

          <ion-slide>
            <img src="../../assets/imgs/1.jpg">
          </ion-slide>
        
          <ion-slide>
              <img src="../../assets/imgs/2.jpg">
          </ion-slide>
        
          <ion-slide>
              <img src="../../assets/imgs/3.jpg">
          </ion-slide>
        
        </ion-slides>


      <div class="row">
        <div class="col box-cq">
          <ion-icon name="appstore"></ion-icon>
          MENU 1
        </div>
        <div class="col box-cq">
          <ion-icon name="compass"></ion-icon>
          MENU 2
        </div>
        <div class="col box-cq">
          <ion-icon name="sunny"></ion-icon>
          MENU 3
        </div>
      </div>
      <div class="row">
        <div class="col box-cq">
          <ion-icon name="map"></ion-icon>
          MENU 4
        </div>
        <div class="col box-cq">
          <ion-icon name="cube"></ion-icon>
          MENU 5
        </div>
        <div class="col box-cq">
          <ion-icon name="analytics"></ion-icon>
          MENU 6
        </div>
      </div>
    
    
      <div class="row">
        <div class="col box-cq">
          <ion-icon name="browsers"></ion-icon>
          MENU 7
        </div>
        <div class="col box-cq">
          <ion-icon name="send"></ion-icon>
          MENU 8
        </div>
        <div class="col box-cq">
          <ion-icon name="notifications"></ion-icon>
          MENU 9
        </div>
      </div>
    
      <div class="row">
        <div class="col box-cq">
          <ion-icon name="camera"></ion-icon>
          MENU 10
        </div>
        <div class="col box-cq">
          <ion-icon name="barcode"></ion-icon>
          MENU 11
        </div>
        <div class="col box-cq">
          <ion-icon name="cloud"></ion-icon>
          MENU 12
        </div>
      </div>
    
      <div class="row box-cf">
        MENU 13
      </div>
      <div class="row box-cf">
        MENU 14
      </div>
</ion-content>
