page-tab-home {
  .b_top {
    height: 150px;
    background: url('../assets/imgs/bg.jpg');
    background-size: cover;
    background-position: fixed;
  }
  .b_top_content {
    padding-top: 30px;
    padding-left: 20px;
    overflow: hidden;
  }
  .b_top_content img {
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    border: 2px solid #fff;
  }
  .box-c-right {
    display: inline-block;
  }
  .b_top_content h2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .b_top_content p {
    margin-top: 0px;
  }
  .box-cq {
    height: 100px;
    background-color:#ff8000;
    border: 3px solid #fff;
    text-align: center;
    padding-top: 20px;
    color: #fff
  }
  .box-cf {
    height: 100px;
    background-color: #ff8000;
    border: 3px solid #fff;
  }
  ion-icon[name=appstore],
  ion-icon[name=compass],
  ion-icon[name=sunny],
  ion-icon[name=map],
  ion-icon[name=cube],
  ion-icon[name=analytics],
  ion-icon[name=browsers],
  ion-icon[name=send],
  ion-icon[name=notifications],
  ion-icon[name=camera],
  ion-icon[name=barcode],
  ion-icon[name=cloud],
    {
    font-size: 40px;
    display: block;
    color: #fff
  }
  ion-slides {
      height: 20vh;
      margin-top: 10px;
      margin-bottom: 5px;
  }


}
